body {
    background: radial-gradient(rgb(161, 242, 140), rgb(101, 179, 210));
    /* background: rgba(74, 126, 230, 0.3) */
    margin: auto;
    display: flex;
    width: 70%;
    height: 200px;
    justify-content: center;
    text-align: center;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.heading {
    margin: 1rem;
}

h2, h4 {
    padding: .5rem;
}

.table {
    box-sizing: content-box;
  }

.highscore {
    text-align: center;
}

#question-container, .control-btn, #end-quiz-container{
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px 3px;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 1rem 1rem;
}

.control-btn {
    text-align: center;
    word-spacing: 10rem;
}

.btn {
    border-color: black;
    border-radius: .5rem;
    border-style: double;
}

.btn-wrong {
    color: red;
}

.btn-correct {
    color: green;
}

.hide {
    display: none;
}