*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --wrong: red;
    --correct: green;
}

body {
    background-color: lightblue;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.btn.correct {
    color: var(--correct);
}

.btn.wrong {
    color: var(--wrong);
}

.heading {
    margin: 1rem;
}

h2, h4 {
    padding: .5rem;
}

.table {
    box-sizing: content-box;
}

#question-container {
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 1rem 1rem;
}

.controls {
    width: 100%;
    background-color: white;
    border-radius: .7rem;
    padding: 1rem;
    margin-bottom: .5rem;
    box-shadow: 0 0 10px 2px;
    text-align: center;
}

#start-btn {
    font-size: 24px;
}

.btn {
    border-color: black;
    border-radius: .5rem;
    border-style: double;
}

.btn.correct {
    --hue: var(--hue-wrong);
}

.btn.correct {
    --hue: var(--hue-correct);
}

.hide {
    display: none;
}

